body {
    margin: 0;
    padding: 0;
    padding-top: 200px;
}

.section {
    width: 30%;
    margin: 0 auto;
    border: 3px solid black;

    .text {
        border-bottom: 2px solid black;
        padding: 10px;
        height: 30px;
        width: 94%;
    }

    .btn {
        background-color: silver;

        .btn-line {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }


        button {
            width: 50px;
            height: 50px;
        }
    }
}